@import "../../../../styles/index/variable";

.#{em-home-title} {
  height: 80px;

  img {
    position: absolute;
    left: 8px;
    top: 12px;
  }

  /*.#{em-title-container}{
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
    width: 255px;
    left: 85px;
    position: absolute;
    top: 20px;
  }*/

  figure {
    animation: wobble 5s ease-in-out infinite;
    transform-origin: center center;
    transform-style: preserve-3d;
  }

  @keyframes wobble {
    0%, 100% {
      transform: rotate3d(1, 1, 0, 7deg);
    }
    25% {
      transform: rotate3d(-1, 1, 0, 7deg);
    }
    50% {
      transform: rotate3d(-1, -1, 0, 7deg);
    }
    75% {
      transform: rotate3d(1, -1, 0, 7deg);
    }
  }
  h2 {
    display: block;
    width: 100%;
    padding: 40px;
    line-height: 1.5;
    font: 900 2em 'Concert One', sans-serif;
    text-transform: uppercase;
    color: darken($em-text-color-base, 50%);
    animation: glow 10s ease-in-out infinite;

    &.modal-title {
      position: fixed;
      top: -78px;
      letter-spacing: 8px;/*字符间距*/
      text-align: center;
      color: $em-text-color-base;
      font-size: 28px;
    }
  }

  @keyframes glow {
    0%, 100% {
      text-shadow: 0 0 5px #647787;
    }
    25% {
      text-shadow: 0 0 5px #1a272f;
    }
    50% {
      text-shadow: 0 0 5px #95a2ad;
    }
    75% {
      text-shadow: 0 0 5px #304242;
    }
  }

  h2:nth-child(2) {
    transform: translateZ(5px);
  }

  h2:nth-child(3) {
    transform: translateZ(10px);
  }

  h2:nth-child(4) {
    transform: translateZ(15px);
  }

  h2:nth-child(5) {
    transform: translateZ(20px);
  }

  h2:nth-child(6) {
    transform: translateZ(25px);
  }

  h2:nth-child(7) {
    transform: translateZ(30px);
  }

  h2:nth-child(8) {
    transform: translateZ(35px);
  }

  h2:nth-child(9) {
    transform: translateZ(40px);
  }

  h2:nth-child(10) {
    transform: translateZ(45px);
  }

}

@media (max-width:1400px){
  .#{em-home-title} {
    & h2.modal-title{
      letter-spacing: 4px;/*字符间距*/
    }
  }
}
