@import "../../../../styles/index/variable";
.permission_assignments {
  height: 400px;
  overflow: auto;
  background: linear-gradient(nth($background-base,1),nth($background-base,2));
  .el-tree {
    background: transparent;
    color: rgba(255, 255, 255, 0.6);
  }

}
