$r:32;
.emForm /deep/{
  .el-input__inner{
    height: 30/$r+rem !important;//tree-from-input
    line-height: 30/$r+rem !important;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;//超出输入框宽度就自动显示三个小点，但不能设置指定宽度！
    padding-right: 25px;
  }
  .el-form--label-left .el-form-item__label{
    text-align: right;
  }
}
