.emForm {
  .form-table {
    .el-form-item {
      margin-bottom: 2px;
    }
    .em-form-button {
      width: 100%;
      margin-top: 7px;
    }
  }

  .form-dialog {
    .em-form-button {
      width: 100%;
      margin-top: 7px;
      margin-bottom: 6px;
    }
  }
}
