@import "../../styles/index/variable";
$r:32;
.em_dialogs /deep/{
  .el-input__inner {
    height: 25/$r+rem;
    line-height: 25/$r+rem;
    &::-webkit-input-placeholder {
      color: #707786; //input
    }
    &:-ms-input-placeholder {
      color: #707786; //input
    }
  }
}

