@import "../../../../styles/index/variable";
.execute_program {
  .el-button {
    float: right;
    margin-left: 12px;
    color: darken($em-text-color-base,30%);
    border-color: darken($em-border-color-base,26%);
    &.em-btn--confirm{
      color:$em-text-highlight-base;
      border-color: $em-highlight-border-color-base;
    }
    &:hover{
      color:$em-text-highlight-base;
      border-color: $em-highlight-border-color-base;
    }
  }
}
