@import "../../../../styles/index/variable";
.em-nav-item {
  .el-button {
    border: none;
    color: darken($em-text-color-base,20%);
    &:hover,&:focus{
      color: $em-text-highlight-base;
    }
  }
}
