$r:32;
@import "../../../../styles/index/variable";
.em_detail {
   width: 23%;
   height:100%;
   position: fixed;
   right: 0;
   top: 0;
   background: $em-bg-color-base;
   padding: 10px;
   overflow: scroll;
   right: -23%;
   transition:width 0.3s;
   z-index: 100000;
  .el-form-item /deep/{
     width: 70%;
     margin-right: 20px;
    .el-form-item__label{
      width: 15%;
      color: #99a9bf;
      text-align: justify;
      line-height: 20px;
    }
    .el-form-item__content{
      width: 60%;
      text-align:justify;
      color: $em-text-color-base;
    }
    .el-image{
      width: 300px;
      height: 300px;
      object-fit: cover;
    }
  }
  .picture /deep/{
    .el-form-item__content{
      text-align: center;
      vertical-align: middle;
      display: table-cell;
    }
  }
  .el-button{
    border: none;
    margin-bottom: 8px;
    color: darken($em-text-color-base,20%);
    &:hover{
      color: $em-text-highlight-base;
    }
    & /deep/{
      .el-icon-close{
        font-size: 18/$r+rem;
      }
    }
  }
}
.addWidth {
  width: 50%;    /* 设置为侧边栏宽度的2倍，才能完全露出 */
  background: $em-background-details;
}

