@import "../../styles/index/variable";
.treeForm {
  position: relative;
  height: 100%;
  overflow-y: auto;
  .el-tree {
    position: relative;
    cursor: default;
    background: unset;
    color: $em-text-color-base;
    min-width: 180px;
    max-height:400px;
    overflow:auto ;
    scrollbar-width:thin;//滚动条宽度
  }
  .custom-tree-node {
    flex: 1;
    display: flex;//这里的display属性不用修改
    align-items: center;
    justify-content: space-between;
    font-size: 12px;
    padding-right: 4px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
    & span.em-tree-text{
      display: inline-block;
      overflow: hidden;
      white-space: nowrap;
      width:100%;
      text-overflow: ellipsis;
    }
  }
  .head_title{
    color: $em-text-color-base;
    padding-left: 14/$r+rem;
    font-size: 14/$r+rem;
    height: 30/$r+rem;
    line-height: 30/$r+rem;
    margin-top: 0;
    background:rgba(6, 15, 29, 0.9);
  }
  .box-card{
    height: 100%;
    border-color: darken($em-border-color-base,60%);
    background: nth($background-base,3);
  }
  .el-card.is-always-shadow{
    box-shadow: 0 2px 12px 0 rgba(255,255,255,.3);
  }
}
