.el-button{
  padding:5px;
  background: transparent;
  &:hover,&:focus{
    color: $em-text-highlight-base;
    background: transparent;
    border-color: $em-highlight-border-color-base;//tree
  }
}


