.complex_em_input{
 float: left;
 margin-right: 10/$r+rem;
}
/*下拉框*/
.el-input-group__prepend{
  background-color: darken(nth($background-base,2),10%);
  border-color: rgba(255, 255, 255, 0.3);
  width: 100px;
  padding-left: 20/$r+rem !important;
  color: darken($em-text-color-base,10%);
}
/*Firefox and IE*/
.el-input-group--prepend .el-input__inner{
  padding: 0 5px !important;
  width: 100px;
  height: 30/$r+rem;
  line-height: 30/$r+rem;
}
/*监测点下拉选择框*/
.monitor_point /deep/{
  .el-input--suffix .el-input__inner{
    height: 25/$r+rem !important;
    margin: 5px 0 5px 0;
    &::-webkit-input-placeholder {
      color:  darken($em-text-color-base,40%); //complex_input
    }
  }
}
.el-select-dropdown{
  background: nth($background-base,3);
  border-image: linear-gradient(nth($background-base,2),nth($background-base,1));
  border-image-slice: 20;
}
.el-select-dropdown__item{
  color: darken($em-text-color-base,20%);
  &.hover, &:hover{
    background-color: lighten(nth($background-base,2),5%);
    color: $em-text-highlight-base;
  }
}

.el-select .el-input .el-select__caret{
  line-height: inherit;//下拉框图标垂直居中显示
}
//下拉多选
.el-select .el-tag{
  background: rgba(255,255,255,0.2);
  color: darken($em-text-color-base,20%);
}
.el-select .el-tag__close.el-icon-close{
  background: rgba(192, 196, 204, 0.5);
}
.el-tag.el-tag--info{
  border-color:darken($em-border-color-base,70%);
}
.el-tag.el-tag--info .el-tag__close{
  color:darken($em-text-color-base,20%) !important;
}
.el-select-dropdown.is-multiple .el-select-dropdown__item.selected{
  color: $em-text-highlight-base !important;
  background: transparent !important;
}

@media screen and (min-width:1281px) and (max-width:1440px){
  .el-input-group__prepend{
    padding-left: 30/$r+rem !important;
  }
}
