.el-picker-panel {
  background: lighten(nth($background-base, 3), 5%);
  border-image: linear-gradient(nth($background-base, 3), nth($background-base, 4));
  border-image-slice: 20;
  color: darken($em-text-color-base, 10%);

  .el-date-table {
    & th {
      color: darken($em-text-color-base, 10%);
      border-color: lighten($em-highlight-border-color-base, 20%);
    }

    & td.current:not(.disabled) span {
      background: nth($background-base, 4);
      color: darken($em-text-color-base, 100%);
    }

    & td.available:hover, & td.today span {
      color: $em-text-highlight-base;
    }

    & td.today span {
      font-weight: 900;
    }

    & td.disabled div {
      background-color: lighten(nth($background-base, 3), 15%);
      cursor: not-allowed;
      color: darken($em-text-color-base, 60%);
    }

    & td.available {
      color: $em-text-color-base;
    }
  }

  .el-date-picker__header {
    .el-picker-panel__icon-btn, .el-date-picker__header-label {
      color: $em-text-color-base;
    }
  }

  .el-picker-panel__footer {
    background-color: lighten(nth($background-base, 3), 5%);
    border-top-color: lighten($em-highlight-border-color-base, 20%);

    .el-button--text {
      color: $em-text-highlight-base;
    }
  }

  .el-time-panel__content {
    &::after, &::before {
      border-color: darken($em-highlight-border-color-base, 20%);
    }
  }
}

.el-picker-panel {
  & .el-picker-panel__sidebar {
    background-color: nth($background-base, 2);
    border-color: darken($em-border-color-base, 80%);

    & .el-picker-panel__shortcut {
      color: darken($em-text-color-base,20%);

      &:hover {
        color: $em-text-highlight-base;
      }
    }
  }
}

.el-date-table td {
  &.start-date span, &.end-date span {
    background-color: darken($em-highlight-bg-color-base,20%);
  }

  &.in-range div {
    background-color:  darken($em-highlight-bg2-color-base,20%);
    &:hover{
      background-color: nth($background-base,2);
    }
  }
}
