.el-message-box.em-message-box {
  .el-button {
    color: darken($em-text-color-base,20%);
    border-color: darken($em-border-color-base,20%);

    &:hover {
      color: $em-text-highlight-base;
      border-color: $em-highlight-border-color-base;
      transition: all 0.2s;
    }
  }
  .el-button--primary{
    border-color: lighten($em-highlight-border-color-base,10%);
    color: $em-text-highlight-base;
  }
}
