.el-message-box.em-message-box {
  .el-button {
    color: rgba(255, 255, 255, 0.6);
    border-color: rgba(255, 255, 255, 0.4);

    &:hover {
      color: $color-base;
      border-color: $border-color-base;
      transition: all 0.2s;
    }
  }
  .el-button--primary{
    border-color: lighten($border-color-base,10%);
    color: $color-base;
  }
}
