.el-slider__bar{
  background: nth($background-base,5);
}
.el-slider__button{
  border-color: darken($em-highlight-border-color-base,15%);
}
.el-slider__runway{
  background-color: darken($em-bg-color-base,40%);
}
