.el-dialog,.el-message-box{
  background: $background-dialog-base;
  border: 15px solid transparent;
  -webkit-border-image: url("../../assets/image/tableDialog-border.png") 15 13 14 10 round;
  -moz-border-image: url("../../assets/image/tableDialog-border.png") 15 13 14 10 round;
  border-image: url("../../assets/image/tableDialog-border.png") 15 13 14 10 round;
  width: 550px;
  resize: both;
  border-radius: 20px;
  .el-message-box__title{
   color: white;
  }
  .el-message-box__content,.el-message-box__headerbtn .el-message-box__close{
    color: darken($em-text-color-base,20%);
  }
  .#{em-button}{
    background: $btn-linear-base;
    color: darken($em-text-color-base,20%);
    border-color: darken($em-highlight-border-color-base,30%);
    border-radius: 5/$r+rem;
    padding: 5/$r+rem 10/$r+rem;
    margin-left: 10/$r+rem;
    &:hover{
      color: white;
      cursor: pointer;
    }
  }
  .el-dialog__header{
    border-bottom: 2px solid $em-highlight-border-color-base;
    padding: 10px;
  }
  .el-dialog__body{
    padding: 10px 20px;
  }
  .el-dialog__footer{
    padding: 10px;
  }
  .el-dialog__title{
    color: $em-text-highlight-base;
  }
  .el-form-item__label{
    color: darken($em-text-color-base,10%);
  }
  .el-dialog__headerbtn .el-dialog__close{
    color: darken($em-text-color-base,10%);
    font-size: 12/$r+rem;
    &:hover{
      color: $em-text-color-base;
    }
  }

  .el-form-item{
    margin-bottom: 10px;
  }
  .el-form-item__label{
    text-align: right;
  }
}
