.el-textarea, .el-textarea__inner {
  background: nth($background-base, 2);
  border-color: darken($em-border-color-base,10%);
  color: $em-text-color-base;
  scrollbar-width: thin; //滚动条宽度
  &:focus{
    border-color: $em-highlight-border-color-base;
  }
}

textarea::-webkit-input-placeholder {
  color: darken($em-text-color-base,40%);
}
textarea:-ms-input-placeholder {
  color: darken($em-text-color-base,40%);
}
