.el-time-panel {
  background-color: lighten(nth($background-base, 3), 5%);
  border-color: lighten($em-highlight-border-color-base, 10%);

  .el-time-spinner__item {
    color: darken($em-text-color-base,10%);

    &:hover:not(.disabled):not(.active) {
      background-color: transparent;
      color: lighten($em-text-highlight-base,20%);
    }

    &.active:not(.disabled) {
      color: lighten($em-text-highlight-base,20%);
    }
  }
  .el-time-panel__btn{
      color: darken($em-text-color-base,20%);
    &.confirm{
      color: lighten($em-text-highlight-base,20%);
    }
  }
  .el-time-panel__footer{
    border-top-color: darken($em-text-highlight-base,20%);
  }
}
