@import "../../styles/index/variable";

.el-transfer-panel {
  background-color: darken(nth($background-base, 2), 2%);
  border-color: darken($em-border-color-base,30%);

  & .el-transfer-panel__item {
    color: darken($em-text-color-base,20%);
  }

  & .el-transfer-panel__header {
    background-color: darken($em-highlight-bg2-color-base,4%) !important;
    border-bottom-color: darken($em-border-color-base,50%);
    & .el-checkbox .el-checkbox__label {
      color: darken($em-text-color-base,20%);

      & span {
        color: darken($em-text-color-base,20%);
      }
    }
  }
}

.el-transfer__button {
  border-color: $em-highlight-border-color-base;
  background-color: nth($background-base, 1);
  color: #fff;

  &.is-disabled,&.is-disabled:hover,&.is-disabled:active,&.is-disabled:focus {
    border: 1px solid darken($em-border-color-base,40%);
    background-color: darken($em-bg-color-base,20%);
    color: darken($em-text-color-base,100%);
  }
}

