@charset "UTF-8";
$r:32;
/*按钮类名定义*/
$em-btn-bubbles:em-btn-bubbles;//气泡按钮类名

$em-btn-icon-hover:em-btn-Ricon-hover;//按钮结合图标悬停效果

$em-btn-water-splashed:em-btn-water-splashed;//水波纹效果

$em-btn-border-animation:em-btn-border-animation;//边框滑动效果

$em-btn-diagonal-borders:em-btn-diagonal-borders;//对角边框效果

$em-btn-hover:em-btn-hover;//hover按钮
$em-btn-hover-animation:em-btn-hover-animation;//hover按钮动画类型

$em-btn-gradient:em-btn-gradient;//悬停时都变色（随是同级类名，但是必须有）
$em-btn-uniform-gradient:em-btn-uniform-gradient;//悬停时都变色

$em-btn_shadow:em-btn_shadow; //立体感按钮
$em-btn_shadow2:em-btn_shadow2; //立体感按钮重叠类名


$em-btn-special:em-btn-special;//tree 內部按鈕

/*弹框 dialog*/
$em-dialog:em-dialog;
$em-dialog-header:em-dialog-header;
$em-dialog-body:em-dialog-body;
$em-dialog-footer:em-dialog-footer;

/*window-panel*/
$am-window:em-window;
$em-panel:em-panel;
$em-panel-header:em-panel-header;
$em-panel-body:em-panel-body;

/*window-nav*/
$am-window:em-nav-window;

/*bottom-window*/
$em-bottom-window:em-bottom-window;
/*menu-window*/
$em-menu-window:em-menu-window;

/*title-window*/
$em-title-window:em-title-window;

/*warn-window*/
$em-warn-window:em-warn-window;
$btn-warn:btn-warn;//警告按钮

/*em-risk-window*/
$em-risk-window:em-risk-window;//风险等级

/*标题*/
$title-container:title-container;

/*bottom-container*/
$em-bottom-container:em-bottom-container;

/*table-window*/
$em-table-window:em-table-window;

/*下拉菜单*/
$em-menu:em-menu;
$em-menu-item:em-menu-item;
$em-menu-item-icon:em-menu-item-icon; //下拉菜单前方的图标

/*表格*/
$em-table-window:em-table-window;
$em-table:em-table;
$em-table-header:em-table-header;
$em-table-body:em-table-body;
$table-classification:table-classification;//表格左侧分类
$table-container:table-container;//表格右侧内容
/*分页*/
$em-pagination:em-pagination;
$em-pagers:em-pagers;//中间的1~5页码
$em-pagination-scroll:em-pagination-scroll;//上下翻页

/*导航主菜单*/
$em-navMenu:em-navMenu;
$em-navMenu-item:em-navMenu-item;

/*标签页*/
$em-tabs:em-tabs;
$em-tabs-header:em-tabs-header;//标签列表项
$em-tabs-content:em-tabs-content;//标签列表切换后显示的内容区域

$em-tool-window:em-tool-window;//toolList小工具

/*layout-window*/
$em-layout-window:em-layout-window;//界面上按钮

/*行内操作按钮*/
$em-btn-operation:em-btn-operation;//表格行内操作按钮
/*font-color*/
$em-text-color-base: #ffffff; //常规表格文本颜色
$em-text-highlight-base: #1989fa;//高亮文本颜色

/*border-color*/
$em-border-color-base: rgba(255, 255, 255, 0.5);//基本边框颜色
$em-highlight-border-color-base:#1989fa;//高亮边框颜色

/*background-color*/
$em-bg-color-base:#fff;//基本背景颜色
$em-highlight-bg-color-base:#1989fa;//高亮背景颜色
$em-highlight-bg2-color-base: rgba(20, 31, 55, 1);//深色背景

/*scrollbar-background-color*/
$em-scrollbar-background-color: #cdcdcd;

/*base define*/
$background-base:rgba(25, 137, 250, 0.6), rgba(20, 31, 55, 0.5),rgba(20, 31, 55, 0.9),rgba(25, 137, 250, 0.9),rgba(20, 31, 55, 0.6);
$background-linear-base:linear-gradient(to bottom right,nth($background-base,1),nth($background-base,2));

$menu-background:rgba(25, 137, 250, 0.4), rgba(20, 31, 55, 0.5),rgba(25, 137, 250, 0.6);//menu样式背景2
/*table*/
$em-background-table-base:rgba(20,31,55,0.5); /*table-window-background*/
$em-background-table-thead:linear-gradient(rgba(25, 137, 250, 0.4), rgba(20, 31, 55, 0.6));//表头背景
$em-background-table-tbody:rgba(20,31,55,0.8);//tbody背景
$em-background-hover-tbody:rgba(25, 137, 250,0.2);//tbody-hover背景

/*dialog*/
$background-dialog-base:rgba(20,31,55,0.8); /*table-dialog-background*/

/*pagination*/
$background-pagination--inner:rgba(20, 31, 55, 0.5);//页码选择输入框背景；

/*button-background-color*/
$btn-background-hover:lighten(nth($background-base,1),50%);

/*button-hover-bubbles  气泡*/
$btn-hover-bubbles: radial-gradient(circle at center, rgba(0, 0, 0, 0) 30%, #eeeeff 60%, #eeeeff 65%, rgba(0, 0, 0, 0) 70%) 90% 90% / 0.88em 0.88em, radial-gradient(circle at center, rgba(0, 0, 0, 0) 30%, #eeeeff 60%, #eeeeff 65%, rgba(0, 0, 0, 0) 70%) 23% 141% / 0.81em 0.81em, radial-gradient(circle at center, rgba(0, 0, 0, 0) 30%, #eeeeff 60%, #eeeeff 65%, rgba(0, 0, 0, 0) 70%) 17% 90% / 0.68em 0.68em, radial-gradient(circle at center, rgba(0, 0, 0, 0) 30%, #eeeeff 60%, #eeeeff 65%, rgba(0, 0, 0, 0) 70%) 15% 94% / 1.12em 1.12em, radial-gradient(circle at center, rgba(0, 0, 0, 0) 30%, #eeeeff 60%, #eeeeff 65%, rgba(0, 0, 0, 0) 70%) 42% 126% / 0.86em 0.86em, radial-gradient(circle at center, rgba(0, 0, 0, 0) 30%, #eeeeff 60%, #eeeeff 65%, rgba(0, 0, 0, 0) 70%) 102% 120% / 0.58em 0.58em, radial-gradient(circle at center, rgba(0, 0, 0, 0) 30%, #eeeeff 60%, #eeeeff 65%, rgba(0, 0, 0, 0) 70%) 12% 121% / 0.67em 0.67em, radial-gradient(circle at center, rgba(0, 0, 0, 0) 30%, #eeeeff 60%, #eeeeff 65%, rgba(0, 0, 0, 0) 70%) 69% 87% / 1.18em 1.18em, radial-gradient(circle at center, rgba(0, 0, 0, 0) 30%, #eeeeff 60%, #eeeeff 65%, rgba(0, 0, 0, 0) 70%) 32% 99% / 0.79em 0.79em, radial-gradient(circle at center, rgba(0, 0, 0, 0) 30%, #eeeeff 60%, #eeeeff 65%, rgba(0, 0, 0, 0) 70%) 84% 129% / 0.79em 0.79em, radial-gradient(circle at center, rgba(0, 0, 0, 0) 30%, #eeeeff 60%, #eeeeff 65%, rgba(0, 0, 0, 0) 70%) 40% 99% / 0.72em 0.72em;


/*btn-background-base*/
$btn-linear-base:linear-gradient(nth($background-base,1),nth($background-base,2));

/*type2 variables*/
$background-type2-base:rgba(255, 255, 255, 0.5), rgba(20, 31, 55, 0.5),rgba(20, 31, 55, 0.3);

/*toolTip*/
$toolTip-background:darken(rgba(20, 31, 55, 0.5),5%);


/*el-tree-background*/
$el-tree-background:linear-gradient(to bottom right,rgba(44, 178, 221, 0.3), rgba(20, 31, 55, 0.4));


/*scene-btn*/
$scene-btn-base-color:#a09337;

/*login-button*/
$em-login-btn:rgba(25, 137, 250, 0.6);

/*details*/
$em-background-details:linear-gradient(to top left,rgba(25, 137, 250, 0.8), rgba(20, 31, 55, 1)) ;//pic-details背景


/*login-title-textShadow*/
$text-shadow-title: 0 -1px 0 #fff, 0 1px 0 #1989fa, 0 2px 0 #1970d9, 0 3px 0 #144c98, 0 4px 0 #bea234,
0 5px 0 #004134, 0 6px 0 #003F32, 0 7px 0 #003D30, 0 8px 0 #003A2D,
0 9px 0 #00382B, 0 10px 0 #003528, 0 11px 0 #003225, 0 12px 0 #002F22,
0 13px 0 #002B1E, 0 14px 0 #00281C, 0 15px 0 #001F13, 0 22px 30px rgba(0, 0, 0, 0.9), 0 22px 30px rgba(0, 0, 0, 0.9), 0 22px 15px rgba(0, 0, 0, 0.9), 0 11px 15px rgba(0, 0, 0, 0.9), 0 15px 20px rgba(0, 0, 0, 0.9), 0 15px 11px rgba(0, 0, 0, 0.9), 0 16px 11px rgba(0, 0, 0, 0.9);

/*text-shadow*/
$text-shadow-title-hover:0 0 0 #1989fa, 0 1px 0 #1981ee, 0 2px 0 #1967c7, 0 3px 3px rgba(0, 0, 0, 0.9);

/*消息提示*/
$em-message-bg:linear-gradient(nth($background-base,1),nth($background-base,2));
$em-message-borderColor:nth($background-base,3);
