@import "../../styles/index/variable";

.window {
  background-color: transparent;
  border-color: transparent;

  & .window-body {
    border-color: transparent;
  }
}

/*nav*/
.panel.window.#{em-nav-window}.panel-htop {
  background: url("../../assets/image/footer_new.png") no-repeat;
  border: none;
  left: 50%;
  transform: translateX(-44.2%);
  height: 100px;
  background-size: 100%;
  position: absolute;
  padding: 3/$r+rem 20/$r+rem 0 20/$r+rem;
  bottom: -12px;
}


.panel.window.#{em-nav-window}.panel-htop /deep/ {
  .el-menu, .panel-body {
    background-color: transparent;
    border: none;
    display: contents; //鼠标十字箭头
  }
}

@media(max-width:1440px){
  .panel.window.#{em-nav-window}.panel-htop {
    bottom:20px !important;
    background: transparent;
  }
}
/*title*/
.panel.window.#{em-title-window}.panel-htop {
  background: url("../../assets/image/title_new.png") no-repeat center;
  background-size: 100% 100%;
  border: none;
  border-radius: 0;
}

.panel.window.#{em-title-window}.panel-htop{
  .panel-body {
    background: transparent;
    overflow: hidden;
  }
}


/*@media screen and (min-width:1025px) and (max-width:1280px) {
  .panel.window.em-nav-window.panel-htop {
    background: none;
  }
}*/


/*warn-button*/
.panel.window.#{em-warn-window}.panel-htop {
  background: transparent;
  border: none;
}

/*risk-window风险等级*/
.panel.window.#{em-risk-window}.panel-htop {
  background: transparent;
  border: none;
  text-align: right;
}

.panel.window.#{em-risk-window}.panel-htop /deep/ {
  .panel-body {
    background: transparent;
    padding-top: 10px;
  }
}

/*menu-window*/
.panel.window.#{em-menu-window}.panel-htop {
  background: $em-background-table-base;
  border: 0;
  box-shadow: 6px 1px 17px 0px darken($em-bg-color-base, 60%);
  -webkit-transform:rotateY(100deg); /* Safari 和 Chrome */
  -webkit-transform-origin: left;
  -moz-transform: rotateX(0deg);
  -ms-transform: rotateX(0deg);
  border: none;
  padding: 0;
  transition: all 0.5s;

  &:hover {
    -webkit-transform: rotateY(0deg);
  }
}

.panel.window.#{em-menu-window}.panel-htop /deep/ {
  .menu, .el-menu, .panel-body {
    background: transparent;
  }

  .el-menu {
    border-right: 0;
  }

  .panel-header {
    border-bottom: none;
    margin-bottom: 5/$r+rem;
    padding: 6/$r+rem !important;
  }

}
@media (max-width: 1680px){
  .panel.window.#{em-menu-window}.panel-htop {
    height: 760px;
    width: 180px !important;
    top: 74px!important;
    -webkit-transform: rotateY(90deg);
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
  }
}

@media (max-width: 1440px){
  .panel.window.#{em-menu-window}.panel-htop {
    height: 620px;
    width: 180px !important;
    top: 74px!important;
    -webkit-transform: rotateY(90deg);
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
  }
}
@media (max-width: 1400px){
  .panel.window.#{em-menu-window}.panel-htop {
    height: 510px;
    width: 180px !important;
    top: 74px!important;
    -webkit-transform: rotateY(90deg);
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
  }
}



@media (max-width: 1024px) {
  .panel.window.#{em-menu-window}.panel-htop {
    height: 630px;
    width: 180px !important;
    top: 74px!important;
    -webkit-transform: rotateY(90deg);
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
  }
}
/*bottom-window*/
.panel.window.#{em-bottom-window}.panel-htop.easyui-fluid {
  background: nth($background-base, 5);
  border-left: 6px solid $em-highlight-border-color-base;
  border-right: 6px solid $em-highlight-border-color-base;
  border-top: 1px solid $em-highlight-border-color-base;
  border-bottom: 1px solid $em-highlight-border-color-base;
  border-radius: unset;
  position: fixed;
  bottom: 3px;
}

@media (max-width: 1440px) {
  .panel.window.#{em-bottom-window}.panel-htop.easyui-fluid {
    height: 40px;
  }
}

/*toolList*/
.panel.window.#{em-tool-window}.panel-htop {
  background: transparent;
  border: none;
  position: fixed;
  top: 34px;
  right: 76px;
}

/*table-window*/
.window-shadow {
  border: none;
  box-shadow: none;
  background: transparent;
}

.window .window-header {
  padding: 6/$r+rem; //IE 设置panel-header无效
}

.panel.window.#{em-table-window}.panel-htop {
  background: $em-background-table-base;
  padding: 8px;
  /*  -webkit-border-image: url("../../../src/assets/image/table_border.png");
    -moz-border-image: url("../../../src/assets/image/table_border.png");
    border-image: url("../../../src/assets/image/table_border.png");*/
  width: 800px;
  resize: both;
  /*border-image-slice: 5 5 5 5 fill;
  border-image-outset: 15px;*/
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 0;
  overflow: visible; //table-dialog遮罩
  -webkit-box-shadow: 0 0 4px darken($em-border-color-base,30%);
  -moz-box-shadow: 0 0 4px darken($em-border-color-base,30%);
  box-shadow:0 0 4px darken($em-border-color-base,30%);

}

/*slider*/
.panel.window.#{em-slider-window}.panel-htop {
  border: none;
  background: transparent;
}

/*layout-window*/
.panel.window.#{em-layout-window}.panel-htop {
  background: rgba(100, 98, 89, 0.8);
}

/*detail-window*/
.panel.window.em_detail_window.panel-htop {
  width: 23%;
  height: 100%;
  position: fixed;
  top: 0;
  background: $em-background-details;
  padding: 10px;
  right: -23%;
  overflow-y: auto;
  overflow-style: unset;
  transition: width 0.3s;
  border-radius: 0;
}

.panel.window.em-scene-window.panel-htop {
  background: $em-background-table-base;
  border: 0;
  box-shadow: -6px 1px 17px 0px darken($em-bg-color-base, 60%);
  -webkit-transform: rotateY(-100deg);
  -moz-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  -webkit-transform-origin: right;
  transition: all 0.5s;
  &:hover {
    -webkit-transform: rotateY(0deg);
  }

}

@media(max-width: 1280px) {
  .panel.window.em-scene-window.panel-htop {
    height: 490px !important;
    top: 74px!important;
    -webkit-transform: rotateY(-80deg);
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    left: calc(100% - 180px)!important;
    width: 180px !important;
  }
}

@media(max-width: 1366px) {
  .panel.window.em-scene-window.panel-htop {
    height: 510px !important;
    top: 74px!important;
    -webkit-transform: rotateY(-80deg);
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    left: calc(100% - 180px)!important;
    width: 180px !important;
  }
}

@media(max-width: 1440px) {
  .panel.window.em-scene-window.panel-htop {
    height: 620px;
    top: 74px!important;
    -webkit-transform: rotateY(-90deg);
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    left: calc(100% - 180px)!important;
    width: 180px !important;
  }
}

@media(max-width: 1024px) {
  .panel.window.em-scene-window.panel-htop {
    height: 630px !important;
    top: 74px!important;
    -webkit-transform: rotateY(-90deg);
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    left: calc(100% - 180px)!important;
    width: 180px !important;
  }
}
