@import "../../styles/index/variable";

video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  height: auto;
  width: auto;
}

.em-login-container {
  background: url("../../assets/image/login.png") no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  height: 100%;
}

.em-login-content {
  background: url("../../assets/image/login_border.png") no-repeat;
  width: 500px;
  position: fixed;
  left: 50%;
  height: 100%;
  top: 80%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);

  .user_login {
    color: #fff;
    font-size: 20/$r+rem;
    left: 53%;
    top: 24%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    position: absolute;
  }

  .title_bg {
    background: url("../../assets/image/title_bg.png") no-repeat;
    width: 50px;
    height: 40px;
    margin-left: 156px;
    display: inline-block;
  }
}

.em-login-form /deep/ {
  box-shadow: 1px 1px 14px rgba(255, 255, 255, 0.8), inset 14px 10px 155px 0px rgba(20, 55, 46, 1), inset 14px 10px 155px 0px rgba(20, 55, 46, 0.6), 0px 0px 1px rgba(63, 135, 78, 1);
  border-radius: 2%;
  margin: 44px 10px;

  .el-form-item__label {
    color: #fff;
    font-size: 14/$r+rem;
  }

  .el-input__inner {
    height: 36px;
    line-height: 36px;

    &:-ms-input-placeholder {
      color: darken($em-text-color-base,40%); //input
    }
  }
}

.em-login-title p {
  font-size: 40/$r+rem;
  color: lighten($em-text-highlight-base, 28%);
  position: fixed;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -60%);
  -webkit-transform: translate(-50%, -60%);
  text-shadow: 0 -1px 0 #fff, 0 1px 0 #efd239, 0 2px 0 #dec137, 0 3px 0 #cdaf36, 0 4px 0 #bea234,
  0 5px 0 #004134, 0 6px 0 #003F32, 0 7px 0 #003D30, 0 8px 0 #003A2D,
  0 9px 0 #00382B, 0 10px 0 #003528, 0 11px 0 #003225, 0 12px 0 #002F22,
  0 13px 0 #002B1E, 0 14px 0 #00281C, 0 15px 0 #001F13, 0 22px 30px rgba(0, 0, 0, 0.9), 0 22px 30px rgba(0, 0, 0, 0.9), 0 22px 15px rgba(0, 0, 0, 0.9), 0 11px 15px rgba(0, 0, 0, 0.9), 0 15px 20px rgba(0, 0, 0, 0.9), 0 15px 11px rgba(0, 0, 0, 0.9), 0 16px 11px rgba(0, 0, 0, 0.9);
  transition: text-shadow .3s ease .3s, transform .3s ease .3s, letter-spacing .3s ease .3s;

  &:hover {
    transition: text-shadow .33s ease, transform .3s ease, letter-spacing .3s ease;
    text-shadow: 0 0 0 #EFD239, 0 1px 0 #DEC137, 0 2px 0 #BEA234, 0 3px 3px rgba(0, 0, 0, 0.9);
    transform: translate(-50%, -50%) perspective(300px) rotateX(10deg);
    letter-spacing: .125em;
  }
}

.el-form-item {
  padding-top: 20px;
  //margin-top: 10/$r+rem;
  margin-bottom: 0;
}

.el-checkbox {
  color: rgba(255, 255, 255, 0.9) !important;
  left: 50%;
  transform: translate(80%, -30%);

  &:hover {
    color: $em-text-highlight-base !important;
  }
}

.em-login-btn {
  font-size: 14/$r+rem;
  max-width: 100px;
  margin-left: 40px !important;
  margin-bottom: 20px;
  height: 30px;
  line-height: 20px;
  position: relative;
  width: 100%;
  overflow: hidden;
  border-color: currentColor;
}


@media screen and (min-width: 1025px) and (max-width: 1280px) {
  .em-login-btn {
    margin-left: 60px !important;
  }
  .em-login-form {
    margin: 50px 10px;
  }
}

.em-login-button {
  color: $em-text-highlight-base;

  &:before {
    content: '';
    width: 0;
    height: 0;
    -webkit-transform: rotate(360deg);
    border-style: solid;
    border-width: 0 0 0 0;
    border-color: transparent transparent transparent $em-login-btn;
    position: absolute;
    bottom: 0;
    left: 0;
  }

  &:after {
    content: '';
    width: 0;
    height: 0;
    -webkit-transform: rotate(360deg);
    border-style: solid;
    border-width: 0 0 0 0;
    border-color: transparent $em-login-btn transparent transparent;
    position: absolute;
    top: 0;
    right: 0;
  }

  &:hover {
    color: lighten($em-text-highlight-base,20%);
    &:before {
      border-width: 63px 0 0 63px;
    }

    &:after {
      border-width: 0 63px 63px 0;
    }
  }
  &:active {
    background: nth($background-base, 1);
  }

  &:before, &:after {
    box-sizing: border-box;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
}


@media screen and (min-width: 1281px) and (max-width: 1440px) {
  .em-login-btn {
    margin-left: 60px !important;
  }
  .em-login-form {
    margin: 50px 10px;
  }
}
