@import "../../../../styles/index/variable";

.em-bottom-container {
  background: rgba(20, 31, 55, 0.8);
  & /deep/ {
    .el-input__inner {
      &::-webkit-input-placeholder {
        color: #707786; //input
      }
    }
    .em-btn-scene{
      float: right;
      position: relative;
      margin-right: 20px;
      color: rgba(255,255,255,0.8);
      border-color: transparent;
      width: 80px;
      height: 30px;
      text-decoration: none;
      background-color: $scene-btn-base-color;
      font-family: "Microsoft YaHei", 微软雅黑, 宋体;
      font-weight: 700;
      font-size: 1em;
      display: block;
      padding: 4px;
      border-radius: 8px;
      box-shadow: 0px 9px 0px darken($scene-btn-base-color,8%), 0px 9px 25px rgba(237, 237, 237, 0.7);
      text-align: center;
      -webkit-transition: all .1s ease;
      -moz-transition: all .1s ease;
      transition: all .1s ease;
      &:hover{
        box-shadow: 0px 3px 0px darken($scene-btn-base-color,8%), 0px 3px 6px rgba(237, 237, 237, 0.9);
        position: relative;
        top: 6px;
      }
    }
  }
}

@media screen and (min-width: 1921px) {
  .panel.window.#{em-bottom-window}.panel-htop.easyui-fluid {
    top: 95.5% !important;
  }
}
