@import "../../../../styles/index/variable";
.em-bottom-container {
  background: lighten($em-highlight-bg2-color-base, 2%);

  & /deep/ {
    .el-input__inner {
      height: 30px;
      line-height: 30px;
      border-color: darken($em-border-color-base,20%);
      &::-webkit-input-placeholder {
        color: darken($em-text-color-base,50%); //input
      }

      &:-ms-input-placeholder {
        color: darken($em-text-color-base,50%); //input
      }
    }

    .em-btn-scene {
      float: right;
      font-size: 15/$r+rem;
      position: relative;
      padding: 2px 0;
      color: darken($em-text-color-base,12%);
      border-color: darken($em-border-color-base,32%);
      width: 80px;
      height: 24px;
      text-shadow: 0 1px 0 darken($em-text-color-base,18%);
      background-color: $scene-btn-base-color;
      font-weight: 700;
      display: block;
      border-radius: 8px;
      box-shadow: 0 6px 0 darken($scene-btn-base-color, 8%), 0 9px 25px rgba(237, 237, 237, 0.7);
      text-align: center;
      -webkit-transition: all .1s ease;
      -moz-transition: all .1s ease;
      transition: all .1s ease;

      &:hover {
        box-shadow: 0 3px 0 darken($scene-btn-base-color, 8%), 0 3px 6px rgba(237, 237, 237, 0.9);
        position: relative;
        top: 3px;
      }
    }
  }
}

